<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Form</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        /*html{position:relative;min-height:100%;}*/
        body{
            margin-bottom:60px;
        }

        body > .container{
            padding:60px 15px 0;
        }
        .box {
            float:right;
            width:120px;
            margin:10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>What's in My Desk?!</h2>
    <div th:text="${memberName}" style="float:right"> 님이 로그인하셨습니다.</div>
    <br/><br/>
        <div class="row">
            <div th:if = "${memberName != null}" class="box">
                <a href="/myPage" class="btn btn-primary btn-block">마이페이지</a>
            </div>
            <div th:if = "${memberName != null}" class="box">
                <a href="/logout" class="btn btn-primary btn-block">로그아웃</a>
            </div>
            <div th:if = "${memberName == null}"  class="box">
                <a href="/oauth2/authorization/google" class="btn btn-primary btn-block">구글 로그인</a>
            </div>
            <div th:if = "${memberName == null}" class="box">
                <a href="/oauth2/authorization/naver" class="btn btn-primary btn-block">네이버 로그인</a>
            </div>
            <div style="width:120px;margin:10px 0;float:left;">
                <a href="/board/create" class="btn btn-primary btn-block">게시글 등록</a>
            </div>
        </div>
    <br/>

    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1">번호</th>
                <th class="col-md-2">제목</th>
                <th class="col-md-5">작성자</th>
                <th class="col-md-2">작성날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>
                <td><a th:href="'/board/'+ ${board.id} + '/detail'" th:text="${board.title}"></a></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.createdDate}"></td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation" style="text-align:center;">
            <ul class="pagination" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">
                <li><a aria-label="Previous" href="/page=0">&laquo;</a></li>
                <li th:style="${boardList.first} ? 'display:none'">
                    <a th:href="@{/(page=${boardList.number})}">&lsaquo;</a>
                </li>

                <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}) ? 'active'">
                    <a th:href="@{/(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
                </li>

                <li th:style="${boardList.last} ? 'display:none'">
                    <a th:href="@{/(page=${boardList.number}+1)}">&rsaquo;</a>
                </li>
                <li><a aria-label="Next" th:href="@{/(page=${boardList.totalPages})}">&raquo;</a></li>
            </ul>
        </nav>

    </div>
</div>
<br/>

<!--<nav aria-label="Page navigation" style="text-align:center;">-->
<!--    <ul class="pagination" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, -->
<!--endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">-->
<!--        <li><a aria-label="Previous" href="/board/list?page=1">&laquo;</a></li>-->
<!--        <li th:style="${boardList.first} ? 'display:none'">-->
<!--            <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>-->
<!--        </li>-->

<!--        <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}+1) ? 'active'">-->
<!--            <a th:href="@{/board/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>-->
<!--        </li>-->

<!--        <li th:style="${boardList.last} ? 'display:none'">-->
<!--            <a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>-->
<!--        </li>-->
<!--        <li><a aria-label="Next" th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>-->
<!--    </ul>-->
<!--</nav>-->
</body>
</html>